img {
    width:200px;
    height:200px;
}

body {
  background-color: rgba(0, 0, 0, 0);
}

.color-title{
    font-style:normal;
}

#red {
    color: red;
  }

  #blue {
    color: blue;
  }

  #orange {
    color: orange;
  }

  #green {
    color: green;
  }

  #yellow {
    color: yellow;
  }
  